Name: Aum Kulkarni  
Div: D6AD  
Roll No: 36  
Date: 31 Jan 2023

## Experiment 1.1
- To swap two numbers
- check if the first number is positive or negative or zero

In [3]:
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
print("Before Swapping: a = ", a, " b = ", b)
temp = a
a = b 
b = temp
print("After Swapping: a = ", a, " b = ", b)

print("The Number a is: ", "negative" if a < 0 else "positive")

Enter a number: 5
Enter another number: 6
Before Swapping: a =  5  b =  6
After Swapping: a =  6  b =  5
The Number a is:  positive

## Experiment 1.2
- To check whether the entered string is palindrome
- Find the factorial of the input number.

In [5]:
# 2. a. To check whether the entered string is palindrome
#      b. Find the factorial of the input number.

str1 = input("Enter a string: ")
strrev = ""
for char in str1:
    strrev = char + strrev

print("The string is ", "Pallindrome" if strrev == str1 else "Not Pallindrome")
a = int(input("Enter a Number: "))

fact = 1
for i in range(1, a + 1):
    fact = i * fact

print("The factorial of the number is: ", fact)

Enter a string: naman
The string is  Pallindrome
Enter a Number: 5
The factorial of the number is:  120

## Experiment 1.3
- Separate even and odd nos from the list
- merge and sort the two list
- update the first element with x value and delete the middle element of the list.
- find the minimum and maximum element from the list.
- add n names in to the existing  list and check if the word "python" is present in the list

In [ ]:
import array as arr
numlist = []
n = int(input("Enter the number of elements in the list: "))
for i in range(0, n):
  num = int(input())
  numlist.append(num)

oddlist = []
evenlist = []
for i in numlist:
    if i % 2 == 0:
        evenlist.append(i)
    else:
        oddlist.append(i)

print(evenlist)
print(oddlist)

Enter the number of elements in the list: 5
5
4
3
2
1
[4, 2]
[5, 3, 1]

In [ ]:
evenlist.extend(oddlist)
evenlist.sort()
print(evenlist)

[1, 2, 3, 4, 5]

In [ ]:
evenlist[0] = 99
evenlist.pop(int(len(evenlist) + 1 / 2) - 1)
print(min(evenlist))
print(max(evenlist))

2
99

In [ ]:
programming_languages = ["python", "c++", "java", "javascript", "rust"]
for lang in programming_languages:
  evenlist.append(lang)

index = evenlist.index("python")
print("\"python\" found at index: ", index)

"python" found at index:  5

## Experiment 1.4
 - Create a Tuple to store Student details (rno, name , subjects marks, total)
 - Display the details
 - Sort the tuples wrt to total

In [ ]:
student_details = ((1, 'Hi', 45, 107), (2, 'There', 45, 108), 
                   (2, 'There', 45, 109), (2, 'There', 45, 110),
                   (2, 'There', 45, 111), (2, 'There', 45, 106))
for i in sorted(student_details, key = lambda student: student[3]):
  print(i)

(2, 'There', 45, 106)
(1, 'Hi', 45, 107)
(2, 'There', 45, 108)
(2, 'There', 45, 109)
(2, 'There', 45, 110)
(2, 'There', 45, 111)

## Experiment 1.5
 - Accept two strings  using variable declarations.
 - Display the common letters.
 - Display letters present only in the first string 
 - Display all letters of both string 
 - Display letters which are not common in both strings.

In [ ]:
string1 = input("Enter a string")
string2 = input("Enter another string")
# string1 = string1.lower
# string2 = string2.lower
string1_set = set(string1)
string2_set = set(string2)
print("Common Letters: ", string1_set & string2_set)
print("Letter only in first string: ", string1_set - string2_set)
print("Letters in both strings: ", string1_set | string2_set)
print("Letters in both strings: ", string1_set ^ string2_set)

Enter a stringhello
Enter another stringspink
{'h', 'o', 'e', 'l'} {'p', 'k', 'i', 's', 'n'}
Common Letters:  set()
Letter only in first string:  {'h', 'o', 'e', 'l'}
Letters in both strings:  {'o', 'k', 'h', 'e', 'p', 'l', 'i', 's', 'n'}
Letters in both strings:  {'h', 'l', 'k', 's', 'n', 'o', 'e', 'p', 'i'}

## Experiment 1.6
 - Update, concatenate, delete 
 - search a key 
 - mapping two list into dictionary

In [ ]:
dict1 = {'a': 45, 'b': 46, 'c': 47, '#': 49}
dict2 = {'d': 48, 'e': 49, 'f': 50}

dict1['#'] = 48
print(dict1)

dict1.update(dict2)
print(dict1)

dict1.pop('#')
print(dict1)

if '#' in dict1:
  print("# wasn't deleted")

{'a': 45, 'b': 46, 'c': 47, '#': 48}
{'a': 45, 'b': 46, 'c': 47, '#': 48, 'd': 48, 'e': 49, 'f': 50}
{'a': 45, 'b': 46, 'c': 47, 'd': 48, 'e': 49, 'f': 50}

In [ ]:
alphalist = [chr(i) for i in range(ord('a'), ord('z'))]
asciilist = [i for i in range(ord('a'), ord('z'))]
alphanumdict = dict(zip(alphalist, asciilist))
print(alphanumdict)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121}

## Experiment 1.7
To search a given element in the Array.

In [ ]:
newarr = arr.array('i', [i for i in range(1, 10)])
print(newarr.index(5))

4